.categoryCard {
    border-left: 1px solid #e50914;
    padding-left: 10px;
    font-size: 0.88rem;
    font-weight: 300;
    margin-bottom: 16px !important;
}

.BlogCard {
    max-width: 460px;
}

.BlogCard h3 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 16px !important;
}

.BlogCard a {
    color: #e50914;
}